.second-section_title{
    margin-top: 30px;
    margin-left:600px;
    display: inline-block;
    font-size: 30px;
}
.title{
    color:#c0a483;
}
.third-section{
    background-color: #d4caca;
}
.third-section_title{
    margin-top: 30px;
    margin-left:600px;
    font-size: 30px;
}