.navv {
color:black;
}
.navv a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}
.navLeft{
    padding-top: 10px;
}
 .middle-nav{
    padding-left: 15px;
    display: inline;
}
.logo{
    height:20px;
}
.nav-top:hover{
 color:#c0a483;
}
.nav-top{
    padding-left: 10px;
}